.group__title {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.group__name {
  font-size: 18px;
}

.group__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.group__open-list,
.group__collapse-list {
  width: 10px;
  margin-right: 10px;
}

.group__collapse-list {
  transform: rotate(90deg);
}

.group__add-workspace {
  width: 16px;
  cursor: pointer;
}

.group__menu {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.group__workspaces {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.group__icons {
  display: flex;
  gap: 12px;
  align-items: center;
}

.group__no-workspaces {
  margin-left: 20px;
  font-size: 16px;
  user-select: none;
  color: #00000050;
} 