.skeleton__item {
    border-radius: 4px;
    background-color: #e5e7eb;
    height: 24px;

    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(220, 13%, 91%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

.skeleton__title {
    width: 220px;
    margin-bottom: 40px;
}

.skeleton__header-title {
    width: 220px;
}

.skeleton__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
}

.skeleton__group-title {
    width: 260px;
    margin-bottom: 20px;
}

.skeleton__workspaces {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.skeleton__workspace {
    margin-left: 24px;
    width: 175px;
}

.skeleton__user-info {
    display: flex;
    gap: 24px;
}

.skeleton__avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.skeleton__text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.skeleton__name {
    width: 150px;
}

.skeleton__email {
    width: 100px;
}

