.user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user__info {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.user__email {
  font-size: 14px;
}

.user__name {
  font-size: 16px;
}

.user__icon {
  background-color: #d9d9d9;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}
