.workspace {
  width: 100%;
  border-radius: 6px;

  padding: 7px 11px;

  display: flex;
  width: calc(100% - 20px);
  margin-left: 20px;

  align-items: center;
  justify-content: space-between;
}

.workspace:hover {
  background-color: #EDEDED;
}

.workspace__title {
  font-size: 16px;
  user-select: none;
  cursor: pointer;
}

.workspace__title:hover {
  text-decoration: underline;
}

.workspace__menu {
  width: 24px;
  height: 28px;
  cursor: pointer;
  visibility: hidden;
}

.workspace:hover .workspace__menu {
  visibility: visible;
}