.welcome {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 60px;

  flex-direction: column;

  background: radial-gradient(50% 50% at 50% 50%, #ffdace 0%, #ffffff 100%);
}

.button:hover {
  filter: brightness(90%);
}
